<app-cards-body [titulo]="'Central de Notificações'" [subtitulo]="'Itens'">
  <a botao [routerLink]="['detalhes/0' ]" class="btn btn-primary btn-icon-split float-right">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Cadastrar nova Mensagem</span>
  </a>

  <app-table body
      [titulos]="titulos" 
      [order]="order" 
      [resultPaginate]="responsePaginate" 
      [requestPaginate]="requestPaginate"
      (pesquisaEmiter)='pesquisar($event)'
      (listarEmiter)="buscarLista($event)">
      <tr *ngFor="let item of results">
        <td>{{ item.id }}</td>
        <td>{{ item.numeroVoo }}</td>
        <td>{{ item.matriculaAeronave }}</td>
        <td>{{ item.tipoAeronave }}</td>
        <td>{{ item.origem }}</td>
        <td>{{ item.destino }}</td>
        <td>{{ item.dataHoraVoo | date:'dd/MM/yyyy'}}</td>
        <td>
          <app-table-item-acoes
            [link]="'plano-voo/detalhes/'+item.id"
            [titulo]="'Plano de Voos'"
            [item]='item'
            (exluirEmiter)="excluirItem($event, 'Plano de Voo?')">
          </app-table-item-acoes>
        </td>
      </tr>
    </app-table>
</app-cards-body>