<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Planos de Voos</h1>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <a [routerLink]="['plano-voo/detalhes/0']" class="btn btn-primary btn-icon-split float-right">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text">Cadastrar novo Item</span>
              </a>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Itens:</h6>
                </div>
                <div class="card-body">
                  <app-table 
                  [titulos]="titulos" 
                  [order]="order" 
                  [resultPaginate]="responsePaginate" 
                  [requestPaginate]="requestPaginate"
                  (pesquisaEmiter)='pesquisar($event)'
                  (listarEmiter)="buscarLista($event)">
                      <tr *ngFor="let item of results">
                        <td>{{ item.id }}</td>
                        <td>{{ item.numeroVoo }}</td>
                        <td>{{ item.matriculaAeronave }}</td>
                        <td>{{ item.tipoAeronave }}</td>
                        <td>{{ item.origem }}</td>
                        <td>{{ item.destino }}</td>
                        <td>{{ item.dataHoraVoo | date:'dd/MM/yyyy'}}</td>
                        <td>
                          <app-table-item-acoes
                          [link]="'plano-voo/detalhes/'+item.id"
                          [titulo]="'Plano de Voos'"
                          [item]='item'
                          (exluirEmiter)="excluirItem($event, 'Plano de Voo?')">
                        </app-table-item-acoes>
                        </td>
                      </tr>
                    </app-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>