<div class="row">
  <div class="col-sm-12 col-md-6">
    <div id="dataTable_length" class="datatable_filter">
      <label>Exibir 
        <select 
        #mySelect
        (change)='changeQuantidade(mySelect.value)'
        name="requestPaginate.quantidadePorPagina" 
        class="custom-select custom-select-sm form-control form-control-sm form-control-line">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select> itens
      </label>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div id="dataTable_filter" class="datatable_filter">
      <label class="float-right">Pesquisar:
        <input type="search" 
        id='pesquisa'
        #pesquisa
        (change)='changePesquisar(pesquisa.value)'
        (keyup.enter)='pesquisar(pesquisa.value)'
        class="form-control form-control-sm form-control-line" placeholder="">
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th 
            *ngFor="let titulo of titulos; let i = index" [attr.data-index]="i" (click)="orderBy(i)" [ngClass]="{'pointer': order[i] != undefined}"> 
            {{ titulo }}
              <i [class]="classeSorting(i)"></i>
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th *ngFor="let titulo of titulos"> 
              {{ titulo }}
            </th>
          </tr>
        </tfoot>
        <tbody>
          <ng-content></ng-content>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="resultPaginate != undefined">
  <div class="col-sm-12 col-md-5">
    <div>
      Exibindo {{ resultPaginate.paginaAtual}} à {{ resultPaginate.quantidadeItensPorPagina}} de {{ resultPaginate.quantidadeItens }} intens
    </div>
  </div>
  <div class="col-sm-12 col-md-7">
    <div>
      <ul class="pagination float-right" *ngFor="let item of counter(resultPaginate.totalPaginas)">
        <li (click)="anterior()" *ngIf="item==1" [class]="classAnterior()">
          <a class="page-link">Anterior</a>
        </li>
        <li (click)="paginate(item)" class="paginate_button page-item pointer" [ngClass]="{'active' : item == resultPaginate.paginaAtual}">
          <a class="page-link">{{item}}</a>
        </li>
        <li (click)="proximo()" *ngIf="item==resultPaginate.totalPaginas" [class]="classProximo()">
          <a class="page-link">Próximo</a>
        </li>
      </ul>
    </div>
  </div>
</div>

  <!-- <div class="row">
    <div class="col-12">
      <pre>Form value: {{ resultPaginate | json }}</pre>
    </div>
  </div> -->